:root {
  --pumpkin: #FF7518;
  --witch-purple: #4B0082;
  --monster-green: #228B22;
  --black: #000000;
  --ghost-white: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.house {
  outline: 2px solid black;
  flex-basis: 35%;
  height: 100vh;
}

.person {
  outline: 2px solid black;
  flex-basis: 65%;
  height: 100vh;
}