:root {
  --pumpkin: #FF7518;
  --witch-purple: #4B0082;
  --monster-green: #228B22;
  --black: #000000;
  --ghost-white: #FFFFFF;

  background-image: url("./background.webp");
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Right side of the page */

.right {
  /* outline: 2px solid black; */
  flex-basis: 40%;
  height: 100vh;
  position: relative;
}

img {
  position: absolute;
}

.house-img {
  bottom: 5px;
  width: 140%;
  transform: translateX(-115px);

  /* outline: 2px orange solid; */
}

.pumpkin-img-1 {
  position: absolute;
  width: 15%;
  bottom: 5px;
}

.pumpkin-img-2 {
  position: absolute;
  width: 15%;
  right: 40px;
  bottom: 9px;
}

.pumpkin-img-3 {
  position: absolute;
  width: 15%;
  right: 180px;
  bottom: 15px;
}

.pumpkin-img-4 {
  position: absolute;
  width: 15%;
  left: 175px;
  bottom: 2px;
}

.flip {
  transform: scaleX(-1);
}

.witch-img {
  position: absolute;
  top: 5px;
  width: 35%;
  animation: fly-witch 8s linear infinite;
  z-index: 1;

  /* outline: 2px orange solid; */
}
@keyframes fly-witch {
  0% {
    left: -90px;
    transform: scaleX(1) rotate(-5deg);
  }
  25% {
    top: 25%;
    transform: scaleX(1.2) rotate(5deg);
  }
  50% {
    left: 110%;
    transform: scaleX(1) rotate(-5deg);
  }
  75% {
    top: 25%;
    transform: scaleX(1.2) rotate(5deg);
  }
  100% {
    left: -90px;
    transform: scaleX(1) rotate(-5deg);
  }
}

.moon-img {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 35%;
  z-index: 20;
}

/* Left side of the page */

.left {
  /* outline: 2px solid black; */
  flex-basis: 60%;
  height: 100vh;
  text-align: center;
}

.text {
  font-family: 'Creepster', cursive;
  font-size: 3rem;
  color: var(--blood-red);
  text-shadow: 2px 2px 10px #000;
  animation: drip 2s infinite alternate;
  z-index: 3;
}

@keyframes drip {
  0% {
    text-shadow: 0 0 5px crimson;
  }
  100% {
    text-shadow: 0 10px 15px darkred;
  }
}

.bat-img-1 {
  position: absolute;
  width: 10%;
  animation: fly-bat-1 2s linear infinite;
  animation-direction: alternate;
}
@keyframes fly-bat-1 {
  0% {
    left: 0px;
    transform: scaleX(1) rotate(-15deg);
    transform: translateY(30px);
  }
  50% {
    left: 15%;
    transform: scaleX(1) rotate(15deg);
    transform: translateY(0px);
  }
  100% {
    left: 30%;
    transform: scaleX(1) rotate(-15deg);
    transform: translateY(30px);
  }
}

.bat-img-2 {
  position: absolute;
  width: 10%;
  animation: fly-bat-2 3s linear infinite;
  animation-direction: alternate;
}
@keyframes fly-bat-2 {
  0% {
    left: 50%;
    transform: scaleX(1) rotate(-25deg);
    transform: translateY(0px);
  }
  50% {
    left: 25%;
    transform: scaleX(1) rotate(25deg);
    transform: translateY(70px);
  }
  100% {
    left: 0px;
    transform: scaleX(1) rotate(-25deg);
    transform: translateY(0);
  }
}

.man-img {
  position: absolute;
  width: 15%;
  bottom: 5px;
  animation: man-walk 4s linear infinite;
  animation-direction: alternate;
}
@keyframes man-walk {
  0% {
    left: 0%;
  }
  50% {
    left: 25%;
  }
  100% {
    left: 50%;
  }
}